.cards1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-bottom: 100px;
}
.cards2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-bottom: 100px;
}
.cards3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-bottom: 130px;
}

h4{
    color:var(--primary-color)
}
.remedios{
    width: 200px;
    height: 200px;
}
